.left {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-self: stretch;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .left {
    width: 100%;
    flex-direction: unset;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .left {
    width: 100%;
  }
}
