.header {
  height: 5rem;
  background: rgb(148, 148, 248);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  height: 4rem;
  min-width: 6rem;
  background: rgb(74, 74, 74);
}
.search {
  width: 100%;
  display: flex;
}
.searchBar {
  height: 4rem;
  width: 80%;
  margin: 0 10px;
  background: white;
}
.searchBarButton {
  height: 4rem;
  /* width: 8rem; */
  width: 15%;
  background: rgb(118, 118, 178);
}

.threeBoxContainer {
  display: flex;
  gap: 20px;
}

.threeBox {
  height: 4rem;
  width: 4rem;
  background: rgb(74, 74, 74);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .search {
    margin: 0 1rem;
  }
  .searchBar {
    margin: 0;
    width: 100%;
  }

  .searchBarButton {
    width: 4rem;
    aspect-ratio: 1/1;
  }

  .boxTwo,
  .boxThree {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .search {
    margin: 0 1rem;
  }
  .searchBar {
    margin: 0;
    width: 100%;
  }

  .searchBarButton {
    width: 4rem;
    aspect-ratio: 1/1;
  }

  .boxTwo,
  .boxThree {
    display: none;
  }
}
